* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#site-header{
    padding: 10px;
}

header h5{
    color: gray;
}

 img{
    width: 20%;
}

a{
    text-decoration: none;
}

.nav-link{
    margin: 8px 16px;
    padding: 0 !important;
	color: gray;
	font-size: 14px;
    font-weight: 600;
}


.active{
    color: blue;
    border-bottom: 2px solid blue;
}

.txt-blue{
    color: blue;
}

.fs-13{
    font-size: 13px;
}

#site-main{
    margin: 3rem 8rem;
}

.nav{
    border-bottom: 1px solid rgb(184, 181, 181);
}