* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#site-header{
    padding: 10px;
}

 img{
    width: 40%;
}

.nav-link{
    margin: 8px 16px;
    padding: 0 !important;
	color: gray;
	font-size: 14px;
    font-weight: 600;
}

.nav-item:hover{
    color: blue;
    border-bottom: 2px solid blue;
}

#site-main{
    margin: 3rem 8rem;
}

.nav{
    border-bottom: 1px solid rgb(184, 181, 181);
}